/* declared font style for the whole page */
*{
    font-family: fira sans;
}
/* delcared a bg color for whole html */
html{
    background-color: #F5F5F5;
}
/* common class for flex property */
.common{
    display: flex;
    justify-content: space-between;
    margin-right:160px;
    margin-left: 160px;
    margin-bottom: 20px;
    align-items: center;
    gap: 24px;
}
                                    /* section 1 */
/*bangladesh 2.0 of navigation bar*/
nav h3{ 
    font-family: fira sans;
    font-weight: bold;
    font-size: 35px;
}
/* sign in button */
nav button{
    font-family: fira sans;
    font-size: 18px;
    color: #006A50;
    border-radius: 4.8px;
    border: 1.5px solid #006A50;
    padding: 7.5px 15px;
    font-weight: 600;
}
/* 1st sec bangladesh 2.0 */
#sec1div1p1 {
    font-size: 20px;
    color:rgba(14, 14, 14, 0.5);
    font-weight: 500;
}
/* idea innovation.... */
#sec1div1p2{
    color: #0E0E0E;
    font-size: 55px;
    font-weight:700;
    width: 580px;
    height: auto;
    margin-top: 0px;
    padding: 0px;
}
/* explore ne.. button */
#sec1div1 button{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color:#006A50 ;
    padding:17px 34px ;
    border-radius: 8px;
    border: 0.5px solid white; 
    margin-top:  0px;
}
/* sec1 image */
#sec1div2 img{
    width: 480px;
    height: 400px;
}
/* whole section 1  */
#sec1{
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 18px;
}
                                  /* section 2 */
/* box color padding */
#sec2-div{
    background-color: rgb(255, 255, 255);
    padding: 24px;
    padding-bottom: 0;
    border-radius: 16px;
}
/* innovation sustainability infrastructure empowerment*/
#sec2-div h4{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
}
/* description */
#sec2-div p{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
   
}
/* fixing the size of box for same size */
#sec2>div div{
    width:302px;
    height: auto;
}
/* pillars of.... */
#sec2>p{
    font-weight: bold;
    font-size: 40px;
    margin:80px 160px 32px ;
    text-align:left;
}
                                    /* section 3 */
/* margin for h3 and p */
#sec3div1{
    margin:80px 160px 32px;
}
/* section 3 flex box  */
#sec3div2 div{
    width:410px;
    /* height: 325px; */
    border-radius: 15px;
    padding: 32px;
}
/* sec3 heading */
#sec3 h3{
    font-size: 40px;
    margin-bottom: 0px;
}
/* flex box heading */
#sec3div2 h4{
    font-size: 20px;
    margin-bottom: 0;
}
/* sec 3 flex box description */
#sec3 p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
/* sec3 flex box button */
#sec3div2 button{
    font-size: 16px;
    border-radius: 8px;
    padding: 11px 20px;
    font-weight: 600;
    color: #fff;
}
#sec3div2div1{
    background-color: rgb(213, 225, 245);
}
#sec3div2div1>button{
    background-color: #5490F5;
    border: 0.5px solid white;
}
#sec3div2div2{
    background-color: rgb(198, 228, 214);
}
#sec3div2div2>button{
    background-color: #09A15C;
    border: 1px solid white;
}
#sec3div2div3{
    background-color:rgb(247, 235, 207);
}
#sec3div2div3>button{
    background-color: #FFC239;
    border: 1px solid white;
}
#sec3div3{
    margin: 32px 160px 0px;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 15px;
    background-image: url(../style/assets/quote-bg.png) ;
    background-repeat: no-repeat;
    padding: 50px 20px 15px;
    background-position: 20px 23px;
}
#sec3div3 q{
    font-size: 16px;
}
#sec3div3 h4{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
}
#sec3div3 p{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.6) ;
}

                                /* section 4 */
#sec4{
    margin: 80px 160px 0px;
    
}
#sec4 div{
    padding: 32px;
    background-color: #fff;
    border-radius: 16px;
}
#sec4 table{
    border: 1px solid rgba(14, 14, 14, 0.3);
    border-collapse: collapse;
    width:100%;
    font-weight: 600;


}
#sec4div1>div{
    background-color: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    height:  50px;
    padding: 10px 24px;
    border-radius: 0;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
}
#sec4 td{
    border: 1px solid rgba(14, 14, 14, 0.3);
    padding: 24px;
    
}
#sec4 h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
#sec4 select, option{
    padding: 10px 14px;
    background-color:rgb(198, 228, 214) ;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}
#check{
    text-align: center;
    width: 155px;
}
#sec5{
    margin: 80px 160px 0px;
}
#sec5div1{
    display: flex;
    margin-top: 32px;
    align-items:flex-start;
    justify-content: space-between;
    gap: 32px;
    background-color: #fff;
    padding: 42px;
    border-radius: 20px;
}
#satelite-div>img{
    border-radius: 20px;
    height: 290px;
}
#satelite-description>h4{
    font-weight: bold;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 15px;
}
#satelite-description>#p2{
    margin-bottom: 32px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
#satelite-description>#p1{
   color: rgba(14, 14, 14, 0.7);
}
#satelite-description>button{
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
    border: 1px solid white;
    background-color: #006A50;
}
#sec5>p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}
#sec5>h3{
    font-size: 40px;
    margin-bottom: 0px;
}
#sec6{
    margin: 80px 160px 0px;
}
#sec6>h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}
#sec6>p{
    color: rgba(14, 14, 14, 0.7);
    margin: 0px 220px;
    font-size: 16px;
}
#sec6div1{
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
#sec6div1>div{
    padding: 0px 35px;
    background-color: #fff;
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
}
#sec6div2{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
}
#sec6div2>form>input{
    width: 955px;
    height: 32px;
    text-align: center;
    font-size: 20px;
    border: none;
    padding: 15px 30px;
}
#sec6div2>button{
    width: 151px;
    height: 56px;
    background-color: #006A50;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
#sec7div1{
    margin: 80px 160px 80px;
    background-color: rgb(198, 228, 214);
    padding: 80px 100px;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
}
#sec7div1>h3{
    font-size: 40px; 
    font-weight: bold;
    text-align: center;
     margin-bottom: 0px;
     margin-top: 0px;
}
#sec7div1>p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    text-align: center;
    padding-top: 0px;
     margin-left: 380px;
     margin-right: 380px;
}
#sec7div2{
    display: flex;
    justify-content: center;
}
#sec7div2>input{
    width: 600px;
    height: 55px;
    padding: 0px 40px;
    font-size: 16px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#sec7div2>button{
    width: 150px;
    height: auto;
    padding: 0px 34px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: #006A50;
    color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
footer>div{
    background-color: #fff;

}
footer h3{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}
#footerdiv1>div{
    margin-left: 239px;
    margin-right: 239px;
}
#footerdiv{
    padding: 50px 160px;
}
#footerdiv2{
    padding-top: 32px;
    display: flex;
    gap:23px;
    align-items: center;
    justify-content: center;
}